<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.spaceengine.orosy.retailer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>orosy</string>
			</array>
		</dict>
	</array>
	<key>DEVELOP</key>
	<string>${DEVELOP}</string>
	<key>FacebookAppID</key>
	<string>338481140449239</string>
	<key>FacebookClientToken</key>
	<string>1a27fb743f64a88c1180593459880775</string>
	<key>FacebookDisplayName</key>
	<string>orosy</string>
</dict>
</plist>
